[Unit]
Description=Gunicorn server for SITENAME

[Service]
Restart=on-failure
User=elspeth
WorkingDirectory=/SITENAME/source
ExecStart=/SITENAME/virtualenv/bin/gunicorn    --bind unix:/tmp/SITENAME.socket    babs.wsgi:application

[Install]
WantedBy=multi-user.target